body {
  font-family: 'Lucida Sans Console', Helvetica, sans-serif, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('images/backgorund-crossing2.jpg'); 
  background-repeat: repeat;
  background-size: 25% auto;
  overflow: hidden;
  /* background-color: goldenrod; */

}

.underlay_im {
  position: absolute;
  z-index: -1;
  padding: 0;
  margin: 0;
  top: 0;
  width: 40%;
}

.header {
  display: flex;
  /* border: 2px solid blue; */
  /* background-color: #f4f4f4; */
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  overflow: hidden;
}
  
  .subheader {
    position: absolute; 
    width: 87%;
    top: 0;
    /* border: 2px solid red; */
    /* height: 0.9rem; */
    /* flex-wrap: wrap; */
    margin: 0;
    /* background-color: black; */
    /* background-image: url("images/blankspace.jpg"); */
    /* background-repeat: repeat; */
    background-color: rgba(155, 167, 179, 0.781);
    font-size: 16.5pt;
    color: rgb(44, 45, 68);
    z-index: -1;
    filter: blur(1.2px);
    font-weight: bold;
    font-style: italic;
    box-shadow: 0 0 36px 19px rgb(155, 167, 179);
    text-align: right;
    padding-right: 1%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    justify-content: right;
    /* border: 2px solid white; */
  }

.c1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 100px solid red; */
}
.parag{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-height: 400px;
  overflow: auto;
  background-color: rgba(205, 215, 226, 0.959);
  box-shadow: 0 0 10px 2px rgb(170, 170, 170);
  margin: 1%;
  margin-top: 12vh;
  padding: 20px;
  z-index: 100000;
  font-size: 14.5pt;
  color: rgb(24, 24, 24);
  filter: blur(0.4px);
  }



  #text1 img.heady{
    width: 55%;
    height: auto;
    /* padding: 1%; */
    margin: 1%;
    object-fit: contain;
    transition: transform 0.03s;
    box-shadow: 0 0 6px 0 rgb(164, 169, 194);
  }
#text1 img.heady:hover{
  transform: scale(1.01);
}


.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: flex-start;
  background-color: rgb(35, 33, 41);
  margin: 0;
  box-shadow: 0 0 16px 0 rgb(82, 82, 82);
  filter: blur(0.6px);
  z-index: 10000;
  }

.f_txt {
  font-size: 14pt;
  font-weight: bold;
  color: rgb(197, 197, 194);
  z-index: 10000;
  padding: 0.2%;
}

.ig {
  /* position: relative; */
  object-fit: contain;
  /* box-sizing: content-box; */
  /* border: 10px solid red; */
  width: 5%;
  padding: 0;
  margin: 0;
  /* margin-left: 15%; */

  box-shadow: 0 0 16px 2px rgb(164, 169, 194);
  /* align-self: flex-end; */
  overflow: visible;
  left: -18px;
  filter: brightness(0.5) invert(0.9);
}

@media (max-width: 800px){

    .parag {
      padding-top: 1%;
      width: 60%;
      font-size: 14pt;
      overflow: auto;
      align-items: flex-start;
      margin-top: 6vh;
      max-height: 60vh;
      /* padding: 1%; */
    }

    #text1 img.heady {
      width: 59%;
    }

    .subheader {
      width: 99%;
      font-size: 12pt;
      white-space: pre-line;
    }

    .underlay_im {
      display: none;
    }

    body {
      background-image: url('images/HEADING_vinc.jpg'); 
      background-repeat: no-repeat;
      background-position: right;
      background-size: cover;
      background-attachment: fixed;

    }
  }

