#photos img.ls {
  max-width: 39%;
  max-height: 900px;
  /* align-self: center; */
}
#photos img.pt {
  max-width: 15.5%;
  max-height: 900px;
  /* align-self: flex-start; */
}

.parag {
  width: 35%;
}

@media (max-width: 800px){
  #photos img:last-of-type:not(#headings img){
    /* display: flex; */
    /* border: 10px solid red; */
    order: -1;
  }
  #photos img.ls {
    max-width: 35%;
    /* align-self: center; */
  }
  #photos img.pt {
    max-width: 20%;
    /* align-self: flex-start; */
  }
  .parag{
    height: 180px;
  }
}